- if @time_entry
  :plain
    var html = "#{ escape_javascript(render('time_entry', :time_entry => @time_entry)) }";
    Timesheet.addEntry(#{@time_entry.id}, html);
- else
  :plain
    alert("error!");
