- if @time_entry
  :plain
    var html = "#{ escape_javascript(render('time_entry', :time_entry => @time_entry)) }";
    Timesheet.updateEntry(#{@time_entry.id}, html);
- elsif @message
  :plain
    alert("Could not update time entry: #{ escape_javascript(@message) }");
- else
  :plain
    alert("Could not update time entry");
